body {
  font-family: Arial, sans-serif;
  background: #eef3f7;
  padding: 20px;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #2d89ef;
  color: white;
  border: none;
  border-radius: 6px;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}
